<div class="flex justify-between navbar bg-base-100 shadow-sm bg-gradient-to-l from-blue-700 to-indigo-900">
  <div class="mr-17 0 ml-0">
    <a class=" ml-2 text-3xl font-mono font-black text-white" href="/todo/login">TodoTask Adder</a>
  </div>


  
  
</div>